html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/desenv_web/img/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px 0px #0474ff; */
    box-shadow: 0px 0px 25px 2px rgb(1 208 255 / 52%);
}

form input {
    margin-top: 15px;
}

form button {
    margin-top: 15px;
}