form {
    height: 61.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px #7C5001;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    color: #696969;
}

form input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ffa500;
    border-radius: 5px;
    outline: none;
    background-color: #1f1f1f;
    color: #fff;
}

form input::placeholder {
    color: #fff;
}

form div label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form div label input {
    cursor: pointer;
}

form input[type=submit] {
    cursor: pointer;
    background-color: #de8f00;
    color: #fff;
    transition: background-color 0.2s;
}

form input[type=submit]:hover {
    background-color: #925f02;
}

form .form-select {
    width: 100%;
}

form .form-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #ffa500;
    background-color: #1f1f1f;
    color: #fff;
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
}

form .form-select select::-ms-expand {
    display: none;
}

form .form-select {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background-color: #eaeaea;
    overflow: hidden;
    border-radius: .25em;
    margin-bottom: 5px;
}

form .form-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background-color: #1f1f1f;
    border: 1px solid #ffa500;
    cursor: pointer;
    height: 96%;
    border-left: none;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

form .form-select:hover::after {
    color: #ffffff;
}